<br><br><br>



<section>
  <b _ngcontent-c19="">Evolução do Paciente</b>
  <hr _ngcontent-c19="">
  <br><br>
  <form clrForm clrLayout="vertical">

    <div class="form-group">
      <label style="font-size: 12px" class="required">AMP:</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5" placeholder="AMP"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label style="font-size: 12px" class="required">Hipótese do Diagnóstico:</label>
    </div>
    <div class="form-group">
      <textarea id="formFields_8" cols="110" rows="5" placeholder="Hipótese do Diagnóstico"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label style="font-size: 12px" class="required">Admissão:</label>
    </div>
    <div class="form-group">
      <textarea id="formFields_8" cols="110" rows="5" placeholder="Admissão"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label style="font-size: 12px" class="required">Evolução:</label>
    </div>
    <div class="form-group">
      <textarea id="formFields_8" cols="110" rows="5" placeholder="Evolução"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label style="font-size: 12px" class="required">Exames Complementares:</label>
    </div>
    <div class="form-group">
      <textarea id="formFields_8" cols="110" rows="5" placeholder="Exames Complementares"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label style="font-size: 12px" class="required">Condulta:</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5" placeholder="Condulta"></textarea>
    </div>
    <button class="btn btn-primary" disabled>Salvar</button>
  </form>

</section>
<br><br>

<div _ngcontent-c12="" class="fab-wrapper">
  <!----><button _ngcontent-c12="" class="btn btn-success fab ng-star-inserted" type="button">
    <clr-icon _ngcontent-c12="" shape="check"></clr-icon>
    Concluir consulta
  </button>
</div>
