<b>Pacote de Medidas</b>
<hr>

<label>Exames do Kit Sepse</label>
<clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox name="KitSepse" required value="KitSepse" (change)="kitSepse($event)" />
  <label class="p5">Marcar todos os campos </label>
</clr-checkbox-wrapper>

<form clrForm clrLayout="vertical" style="margin: 0 1em 0 180px;">
  <form class="clr-control-inline">
    <clr-checkbox-container style="margin-right: 100px;">
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options1" required value="option1" [checked]="checks" />
        <label>Hemograma Completo</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Hemocultura: (2 sítios)</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Lactato</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Bilirrubina total e frações</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Creatinina</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Gasometria</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Glicose</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Potássio</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Radiografia de Torax(PA e Perfil)</label>
      </clr-checkbox-wrapper>
    </clr-checkbox-container>
    <clr-checkbox-container>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options1" required value="option1" [checked]="checks" />
        <label>Proteína C Reativa - PCR</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Sódio</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>TGO</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>TGP</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Troponina</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Uréia</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Urocultura</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>EAS</label>
      </clr-checkbox-wrapper>
    </clr-checkbox-container>
  </form>
  <br>
  <button class="btn btn-primary">Imprimir</button>
</form>
<br>

<label>Prescrição de Antibiótico</label>
<br>
<form style="margin-left: 9%">
  <label><u>Foco Abdominal</u></label>
  <form clrForm clrLayout="vertical" style="margin: 0 6em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 10%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" (click)="Ceftriaxona()" />
          <label>Ceftriaxona 1g
            <app-prescriacao-antibiotico *ngIf="ceftriaxona"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" (click)="Ciprofloxacino()" />
          <label>Ciprofloxacino 200mg/ml
            <app-prescriacao-antibiotico *ngIf="ciprofloxacino"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" (click)="Metronidazol ()" />
          <label>Metronidazol 500mg/ml
            <app-prescriacao-antibiotico *ngIf="metronidazol"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" (click)="Piperacilina()" />
          <label>Piperacilina + Tazobactam 4,5g
            <app-prescriacao-antibiotico *ngIf="piperacilina"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
  </form>

  <label><u>Foco Partes Moles</u></label>
  <form clrForm clrLayout="vertical" style="margin: 0 0.6em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 12%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Ceftriaxona 1g
          </label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Clindimicina 600mg
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Metronidazol 500mg/ml</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Piperacilina + Tazobactam 4,5g</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
  </form>
  <label><u>Foco Pulmonar</u></label>

  <form clrForm clrLayout="vertical" style="margin: 0 1em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 12%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Ceftriaxona 1g</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Claritromicina 250mg</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Clindamicina 600mg</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Piperacilina + Tazobactam 4,5g</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
  </form>
  <label><u>Foco Urinário</u></label>

  <form clrForm clrLayout="vertical" style="margin: 0 1em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 10%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Ceftriaxona 1g</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Ciprofloxacino 200mg/ml</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Gentamicina 40mg/ml</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Meropenem 1g</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
    <button class="btn btn-primary">Imprimir</button>
  </form>
</form>

<br>

<label>Expansão Volêmica</label>
<hr>
<div class="clr-form-control">
  <div class="clr-control-container" style="margin-left: 9%">

    <div class="clr-checkbox-wrapper">
      <input clrcheckbox="" name="test2" type="checkbox" value="option2" id="clr-form-control-1" />
      <label class="clr-control-label" for="clr-form-control-1">Soro Fisiológico 0,9% 500ml &nbsp;&nbsp;&nbsp;&nbsp;
        Etapa:<input type="text" id="basic" placeholder="1 - 4" class="clr-input" size="4" /></label>
    </div>

    <div class="clr-checkbox-wrapper">
      <input clrcheckbox="" name="test3" type="checkbox" value="option3" id="clr-form-control-2" />
      <label class="clr-control-label" for="clr-form-control-2">Ringer Simples 500ml &nbsp;&nbsp;&nbsp;&nbsp;
        Etapa:<input type="text" id="basic" placeholder="1 - 4" class="clr-input" size="4" /></label>
    </div>

    <div class="clr-checkbox-wrapper">
      <input clrcheckbox="" name="test4" type="checkbox" value="option4" id="clr-form-control-77" />
      <label class="clr-control-label" for="clr-form-control-77">Ringer Lactato 500ml &nbsp;&nbsp;&nbsp;&nbsp;
        Etapa:<input type="text" id="basic" placeholder="1 - 4" class="clr-input" size="4" /></label>
    </div>

  </div>
</div>
