<b _ngcontent-c19="">Pacote de Medidas</b>
<hr _ngcontent-c19="">

<label>Exames do Kit Sepse</label>
<clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox name="option1" required value="option1" (change)="todos($event)" />
  <label class="p5">Marcar todos os campos </label>
</clr-checkbox-wrapper>

<!-- topo | direita | inferior | esquerda */-->
<form clrForm clrLayout="vertical" style="margin: 0 1em 0 180px;">
  <form class="clr-control-inline">
    <clr-checkbox-container style="margin-right: 100px;">
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options1" required value="option1" [checked]="checks" />
        <label>Hemograma Completo</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Hemocultura: (2 sítios)</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Lactato</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Bilirrubina total e frações</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Creatinina</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Gasometria</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Glicose</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Potássio</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Radiografia de Torax(PA e Perfil)</label>
      </clr-checkbox-wrapper>
    </clr-checkbox-container>
    <clr-checkbox-container>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options1" required value="option1" [checked]="checks" />
        <label>Proteína C Reativa - PCR</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Sódio</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>TGO</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>TGP</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Troponina</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Uréia</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>Urocultura</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="options2" required value="option2" [checked]="checks" />
        <label>EAS</label>
      </clr-checkbox-wrapper>
    </clr-checkbox-container>
  </form>
  <br>
  <button class="btn btn-primary">Imprimir</button>
</form>
<br>


<label>Prescrição de Antibiótico</label>
<br>
<form style="margin-left: 9%">
  <label><u>Foco Abdominal</u></label>
  <!-- topo | direita | inferior | esquerda */-->
  <form clrForm clrLayout="vertical" style="margin: 0 6em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 10%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" (click)="Ceftriaxona()" />
          <label>Ceftriaxona 1g
            <app-prescriacao-antibiotico *ngIf="ceftriaxona"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" (click)="Ciprofloxacino()" />
          <label>Ciprofloxacino 200mg/ml
            <app-prescriacao-antibiotico *ngIf="ciprofloxacino"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" (click)="Metronidazol ()" />
          <label>Metronidazol 500mg/ml
            <app-prescriacao-antibiotico *ngIf="metronidazol"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" (click)="Piperacilina()" />
          <label>Piperacilina + Tazobactam 4,5g
            <app-prescriacao-antibiotico *ngIf="piperacilina"></app-prescriacao-antibiotico>
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
  </form>


  <label><u>Foco Partes Moles</u></label>
  <!-- topo | direita | inferior | esquerda */-->
  <form clrForm clrLayout="vertical" style="margin: 0 0.6em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 12%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Ceftriaxona 1g</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Clindimicina 600mg</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Metronidazol 500mg/ml</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Piperacilina + Tazobactam 4,5g</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
  </form>
  <label><u>Foco Pulmonar</u></label>
  <!-- topo | direita | inferior | esquerda */-->
  <form clrForm clrLayout="vertical" style="margin: 0 1em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 12%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Ceftriaxona 1g</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Claritromicina 250mg</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Clindamicina 600mg</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Piperacilina + Tazobactam 4,5g</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
  </form>
  <label><u>Foco Urinário</u></label>
  <!-- topo | direita | inferior | esquerda */-->
  <form clrForm clrLayout="vertical" style="margin: 0 1em 0 0;">
    <form class="clr-control-inline">
      <clr-checkbox-container style="margin-right: 10%;">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Ceftriaxona 1g</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Ciprofloxacino 200mg/ml</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Gentamicina 40mg/ml</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Meropenem 1g</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <br>
    <button class="btn btn-primary">Imprimir</button>
  </form>
</form>
<br>
