<h4 _ngcontent-c12="">
  Lista de Pacientes Para Atendimento Médico
</h4>
<div _ngcontent-c12="" _nghost-c14="">
  <section _ngcontent-c14="" class="form-block">
    <div _ngcontent-c14="" class="ng-untouched ng-pristine ng-valid">
      <!-- <h5 _ngcontent-c12="">Selecione uma especialidade abaixo:</h5> -->
      <clr-checkbox-container clrInline>
        <label>Filtrar Lista:</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Clínica Médica</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Pediatria</label>
        </clr-checkbox-wrapper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-checkbox-container>
    </div>
  </section>
</div>
<app-listagem-pacientes-atendimento></app-listagem-pacientes-atendimento>
<div class="col-xs-4 ng-star-inserted">
  <button class="btn btn-info-outline" style="margin-top: 2em" disabled="">
    Painel desativado no momento
  </button>
</div>
<button _ngcontent-c12="" class="btn btn-icon btn-link" type="button">
  <clr-icon _ngcontent-c12="" shape="printer">
  </clr-icon> LISTA DE PACIENTES
</button>
