<clr-datagrid>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Protocolo
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Unidade
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      CID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Data
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Visualizar
    </ng-container>
  </clr-dg-column>

  <clr-dg-row>
    <clr-dg-cell>122207200005</clr-dg-cell>
    <clr-dg-cell>Unidade Imperatriz</clr-dg-cell>
    <clr-dg-cell>J100 - Influenza com pneumonia devida a outro vírus da influenza [gripe] identificado</clr-dg-cell>
    <clr-dg-cell>20/07/2022 - 16:49:26</clr-dg-cell>
    <clr-dg-cell>
      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
        <clr-icon shape="eye" class="is-solid"></clr-icon>
        <span class="tooltip-content">Ver protocolo</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row>
    <clr-dg-cell>122207200005</clr-dg-cell>
    <clr-dg-cell>Unidade Imperatriz</clr-dg-cell>
    <clr-dg-cell>J100 - Influenza com pneumonia devida a outro vírus da influenza [gripe] identificado</clr-dg-cell>
    <clr-dg-cell>20/07/2022 - 16:49:26</clr-dg-cell>
    <clr-dg-cell>
      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
        <clr-icon shape="eye" class="is-solid"></clr-icon>
        <span class="tooltip-content">Ver protocolo</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row>
    <clr-dg-cell>122207200005</clr-dg-cell>
    <clr-dg-cell>Unidade Imperatriz</clr-dg-cell>
    <clr-dg-cell>J100 - Influenza com pneumonia devida a outro vírus da influenza [gripe] identificado</clr-dg-cell>
    <clr-dg-cell>20/07/2022 - 16:49:26</clr-dg-cell>
    <clr-dg-cell>
      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
        <clr-icon shape="eye" class="is-solid"></clr-icon>
        <span class="tooltip-content">Ver protocolo</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row>
    <clr-dg-cell>122207200005</clr-dg-cell>
    <clr-dg-cell>Unidade Imperatriz</clr-dg-cell>
    <clr-dg-cell>J100 - Influenza com pneumonia devida a outro vírus da influenza [gripe] identificado</clr-dg-cell>
    <clr-dg-cell>20/07/2022 - 16:49:26</clr-dg-cell>
    <clr-dg-cell>
      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
        <clr-icon shape="eye" class="is-solid"></clr-icon>
        <span class="tooltip-content">Ver protocolo</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row>
    <clr-dg-cell>122207200005</clr-dg-cell>
    <clr-dg-cell>Unidade Imperatriz</clr-dg-cell>
    <clr-dg-cell>J100 - Influenza com pneumonia devida a outro vírus da influenza [gripe] identificado</clr-dg-cell>
    <clr-dg-cell>20/07/2022 - 16:49:26</clr-dg-cell>
    <clr-dg-cell>
      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
        <clr-icon shape="eye" class="is-solid"></clr-icon>
        <span class="tooltip-content">Ver protocolo</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>


  <clr-dg-footer>
    <clr-dg-column-toggle>
      <clr-dg-column-toggle-title>Campos Selecionados</clr-dg-column-toggle-title>
      <clr-dg-column-toggle-button>Selecionar todos</clr-dg-column-toggle-button>
    </clr-dg-column-toggle>
    <clr-dg-pagination #pagination></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
