<div style="padding: 1em 0" class="ng-star-inserted">
  <b>Histórico de Atendimentos</b>
  <button class="btn btn-default btn-sm" style="display: block" (click)="exibir()">Exibir</button>

  <app-historico-atendimento *ngIf="hAtendimento"></app-historico-atendimento>
</div>
<div class="ng-star-inserted">
  <b>Detalhes da Classificação de Risco</b>
  <button class="btn btn-default btn-sm" style="display: block">Exibir</button>
</div>
<br>

<app-sinais-vitais></app-sinais-vitais>
<br>
<section>
  <b>Avaliação Médica</b>
  <hr>
  <br>
  <form clrForm clrLayout="vertical" style="margin: 2px 1em 0 180px;">
    <section>
      <form class="clr-control-inline">
        <label><b style="margin-right: 10px;">Paciente apresenta história sugestiva de infecção?</b></label>
        <div class="clr-control-inline">
          <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="infeccao-s" name="infeccao-s" value="infeccao-s" class="clr-checkbox" />
            <label for="infeccao-s" class="clr-control-label" (click)="mostraAvaliacaoMedica()">Sim</label>
          </div>
          <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="infeccao-n" name="infeccao-n" value="infeccao-n" class="clr-checkbox" />
            <label for="infeccao-n" class="clr-control-label">Não</label>
          </div>
        </div>
      </form>
    </section>

    <form class="clr-control-inline" *ngIf="mostrarAvaliacaoMedica">
      <label>Caso SIM, qual o possível foco?</label>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Endorcardite</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Infecção abdominal aguda</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Infecção de corrente sanguínea associada ao cateter</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Infecção de ferida operatória</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Infecção de prótese</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Infecção óssea/articular</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options1" required value="option1" />
          <label>Infecção urinária</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Meningite</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Pele e partes moles</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label>Pneumonia/ Empiema</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options2" required value="option2" />
          <label (click)="outra()">Outras</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-textarea-container *ngIf="outras">
        <label>Avaliação Médica Outras</label>
        <textarea clrTextarea name="description" cols="50" required></textarea>
      </clr-textarea-container>
    </form>

    <br>

    <form clrLayout="horizontal" class="clr-control-inline" *ngIf="mostrarAvaliacaoMedica">
      <label><b style="margin-right: 10px;">Iniciar Protocolo de SEPSE? *</b> </label>
      <div class="clr-control-container clr-control-inline">
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="vertical-checkbox1" name="checkbox-inline-1" value="option1" class="clr-checkbox"
            (click)="mostrarPacoteMedidas()" />
          <label for="vertical-checkbox1" class="clr-control-label">Sim</label>
        </div>
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="vertical-checkbox2" name="checkbox-inline-2" value="option2"
            class="clr-checkbox" />
          <label for="vertical-checkbox2" class="clr-control-label">Não</label>
        </div>
      </div>
    </form>

  </form>
</section>

<br>
<app-pacote-medidas *ngIf="mostraPacoteMedidas">></app-pacote-medidas>

<br><br>
<section>
  <b>Anamnese</b>
  <hr>
  <form clrForm clrLayout="vertical">
    <div class="form-group">
      <label></label>
      <label style="font-size: 12px" class="required">História da Doença Atual</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label></label>
      <label style="font-size: 12px" class="required">Exame Físico</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label></label>
      <label style="font-size: 12px" class="required">Hipótese do Diagnóstico</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label></label>
      <label style="font-size: 12px" class="required">Conduta Médica</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label></label>
      <label class="required p1" style="margin-top: 30px;">CID 1</label>
      <input clrInput name="input" size="85" />
    </div>

    <div class="form-group">
      <label></label>
      <label class="required p1" style="margin-top: 30px;">CID 2</label>
      <input clrInput name="input" size="85" />
    </div>

  </form>
  <button class="btn btn-primary" disabled>Salvar</button>
</section>
<br>

<section>
  <b>Reavaliação</b>
  <hr>
  <form clrForm clrLayout="vertical">
    <br>
    <div class="form-group">
      <textarea id="formFields_8" cols="110" rows="5" placeholder="Informações Importantes"></textarea>
    </div>
    <br>
    <form class="clr-control-inline" style="margin: 2px 1em 0 180px;">
      <label><b style="margin-right: 10px;">SEPSE Confirmado?</b></label>
      <div class="clr-control-inline">
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="sepseconfirmado-s" name="sepseconfirmado-s" value="sepseconfirmado-s"
            class="clr-checkbox" />
          <label for="sepseconfirmado-s" class="clr-control-label">Sim</label>
        </div>
        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="sepseconfirmado-n" name="sepseconfirmado-n" value="sepseconfirmado-n"
            class="clr-checkbox" />
          <label for="sepseconfirmado-n" class="clr-control-label">Não</label>
        </div>
      </div>
    </form>
  </form>
</section>

<br><br>

<clr-dropdown>
  <button class="btn btn-primary" clrDropdownTrigger>
    Desfecho
    <cds-icon shape="angle" direction="up"></cds-icon>
  </button>
  <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
    <label class="dropdown-header" aria-hidden="true">Selecionar</label>
    <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
    <div clrDropdownItem>Alta hospitalar</div>
    <div clrDropdownItem>Óbito</div>
    <div clrDropdownItem>Trasnferência/Internação</div>
  </clr-dropdown-menu>
</clr-dropdown>
