<clr-alert [clrAlertType]="'warning'" class="fadeIn">
  <clr-alert-item>
    <span class="alert-text">
      Não possui CBO habilitado para esse procedimento, por favor, contactar o
      administrador da unidade!!
    </span>
  </clr-alert-item>
</clr-alert>
<br>

<form clrForm>
  <label class="font-form">Classificação de Risco</label>
  <hr />
  <clr-input-container>
    <label class="p3">Cadastro Nacional de Saúde (CNS):</label>
    <input clrInput type="number" name="example" placeholder="(CNS)" />
  </clr-input-container>
  <label></label>

  <clr-input-container>
    <label class="p3">Cadastro de Pessoa Física (CPF):</label>
    <input clrInput type="number" name="example" placeholder="CPF" />
  </clr-input-container>
  <label></label>

  <clr-input-container>
    <label class="p3">Nome ou Nome Social:<span class="req">*</span></label>
    <input class="label-social" clrInput type="text" name="example" placeholder="Nome ou Nome Social" />
  </clr-input-container>

  <clr-checkbox-container clrInline>
    <clr-checkbox-wrapper class="social-name">
      <input type="checkbox" clrCheckbox name="options1" required value="option1" />
      <label>Não identificado</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
</form>

<form clrForm>
  <clr-checkbox-container>
    <label class="p3">Atendimento:<span class="req">*</span></label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options1" value="option1" (click)="mostraEmergencia()"
        (change)="emergenciaSelect($event); button($event); buttonEmergencia($event)" [disabled]="disabledeSoc" />
      <label>Emergência</label>
      <label></label>
    </clr-checkbox-wrapper>

    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="servico-social" value="option1" (click)="mostraEmergencia()"
        (change)="buttonServSocial($event)" [disabled]="disabledEmer">
      <label>Serviço Social</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
</form>


<form clrForm>
  <label></label>
  <clr-checkbox-container clrInline>
    <label class="p3">Especialidade para Atendimento:<span class="req">*</span></label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options1" value="option1" />
      <label>Clínica Médica</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options2" value="option2" />
      <label>Pediatra</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options3" value="option3" />
      <label>Odontologia</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options4" value="option4" />
      <label>Ortopedia</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <br>
  <hr />
</form>



<form clrForm *ngIf="emergencia">
  <clr-checkbox-container clrInline>
    <label class="p3">Procedimento:</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="sultura" value="sultura" />
      <label>Sutura</label>
    </clr-checkbox-wrapper>
    <!--
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="sultura-n" value="sultura-n" />
        <label>Não</label>
      </clr-checkbox-wrapper>-->
  </clr-checkbox-container>
</form>

<form clrForm>
  <clr-select-container>
    <label class="p3">Causa Extrema:<span class="req">*</span> </label>
    <select clrSelect name="CausaExtrema" (ngModel)="causaExtrema">
      <option></option>
      <option *ngFor="let causaExtrema of CausaExtrema" [value]="causaExtrema">{{ causaExtrema
        }}</option>
    </select>
  </clr-select-container>
</form>

<form clrForm>
  <clr-textarea-container>
    <label class="p3">Queixa:<span class="req">*</span></label>
    <textarea clrTextarea name="description" rows="5" style="width: 74%" placeholder="Queixa"></textarea>
  </clr-textarea-container>
</form>

<form clrForm *ngIf="emergencia">
  <clr-checkbox-container clrInline>
    <label class="p3">Sintomas de sídrome gripal?</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="s-gripal" value="s-gripal" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="s-gripal-n" value="s-gripal-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <!--
  <clr-checkbox-container clrInline>
    <label class="p3"></label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="sultura" value="sultura" />
      <label>Sutura</label>
    </clr-checkbox-wrapper>

    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="sultura-n" value="sultura-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
-->

  <clr-checkbox-container clrInline>
    <label class="p3">Doenças Preexistentes:</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="cancer" value="cancer" />
      <label>Câncer</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="diabetes" value="diabetes" />
      <label>Diabetes</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="hipertensao" value="hipertensao" />
      <label>Hipertensão</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <clr-checkbox-container clrInline>
    <label></label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="doencasrespcronicas" value="doencasrespcronicas" />
      <label>Doenças Respiratórias Crônicas</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="doencasrenaiscronicas" value="doencasrenaiscronicas" />
      <label>Doenças Cardíacas</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="doencasrenaiscronicas" value="doencasrenaiscronicas" />
      <label>Doenças Renais Crônicas</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-checkbox-container clrInline>
    <label></label>
    <clr-checkbox-wrapper>
      <input (click)="outras()" type="checkbox" clrCheckbox name="outros" value="outros" />
      <label>Outras Doenças<span class="req">*</span></label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>



  <clr-textarea-container>
    <label></label>
    <textarea *ngIf="outrasDoencas" clrTextarea name="description" rows="5" style="width: 74%"
      placeholder="Outras Doenças"></textarea>
  </clr-textarea-container>
</form>

<form clrForm *ngIf="emergencia">
  <clr-checkbox-container clrInline>
    <label class="p3">Medicamento em uso?*</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="med-sim" value="med-sim" (click)="medicamentoEmUso()" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="med-n" value="med-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-textarea-container *ngIf="medUso">
    <label></label>
    <textarea clrTextarea name="description" rows="5" style="width: 74%" placeholder="Medicamento em uso?"></textarea>
  </clr-textarea-container>

  <clr-checkbox-container clrInline>
    <label class="p3">Alergia a algum Medicamento?<span class="req">*</span></label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="alergia-sim" value="alergia-sim" (click)="medAlergia()" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="alergia-n" value="alergia-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-textarea-container>
    <label></label>
    <textarea *ngIf="alergia" clrTextarea name="description" rows="5" style="width: 74%"
      placeholder="Alergia a algum Medicamento?"></textarea>
  </clr-textarea-container><br />
</form>

<section *ngIf="emergencia">
  <label>Escala de Glasgow:</label>
  <form clrForm style="margin: -60px 1em 0 270px">
    <clr-select-container>
      <label class="p3">Abertura ocular:<span class="req">*</span></label>
      <select clrSelect name="AberturaOcular" (ngModel)="AberturaOcular">
        <option></option>
        <option value="1" class="ng-star-inserted" *ngFor="let AberturaOcular of aberturaOcular"
          (ngValue)="AberturaOcular">{{ AberturaOcular }}</option>
      </select>
    </clr-select-container>

    <clr-select-container>
      <label class="p3">Resposta verbal:<span class="req">*</span></label>
      <select clrSelect name="RespostaVerbal" (ngModel)="RespostaVerbal">
        <option>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</option>
        <option value="1" class="ng-star-inserted" *ngFor="let RespostaVerbal of respostaVerbal"
          (ngValue)="RespostaVerbal">{{
          RespostaVerbal }}</option>
      </select>

    </clr-select-container>
    <clr-select-container>
      <label class="p3">Resposta motora:<span class="req">*</span></label>
      <select clrSelect name="RespostaMotora" (ngModel)="RespostaMotora">
        <option>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</option>
        <option value="1" class="ng-star-inserted" *ngFor="let RespostaMotora of respostaMotora"
          (ngValue)="RespostaMotora">{{
          RespostaMotora }}</option>
      </select>
    </clr-select-container>
  </form>
</section>
<br>

<section class="escala-glasgow" *ngIf="emergencia">
  <label></label>
  <label class="p2">Escala de Coma Glasgow: /15</label>
</section>
<br><br>
<app-sinais-vitais *ngIf="emergencia"></app-sinais-vitais>

<br>

<form class="clr-control-inline" style="margin: 2px 1em 0 275px" *ngIf="emergencia">
  <label></label>
  <label><b>Suspeita de SEPSE?&nbsp;&nbsp;</b></label>
  <div class="clr-control-inline">
    <div class="clr-checkbox-wrapper">
      <input type="checkbox" id="sepseconfirmado-s" name="sepseconfirmado-s" value="sepseconfirmado-s"
        class="clr-checkbox" />
      <label for="sepseconfirmado-s" class="clr-control-label">Sim</label>
    </div>
    <div class="clr-checkbox-wrapper">
      <input type="checkbox" id="sepseconfirmado-n" name="sepseconfirmado-n" value="sepseconfirmado-n"
        class="clr-checkbox" />
      <label for="sepseconfirmado-n" class="clr-control-label">Não</label>
    </div>
  </div>
</form>
<br><br>
<section>
  <label class="p3-font">Outras Informações:</label>
  <form clrForm>
    <clr-textarea-container style="margin: -30px 0 0 -11px">
      <label></label>
      <textarea clrTextarea name="description" rows="5" style="width: 74%" placeholder="Outras Informações"></textarea>
    </clr-textarea-container>
  </form>

  <br /><br />

  <label class="p3-font">Classificação de Risco</label>
  <hr>
  <clr-radio-container clrInline="horizontal">
    <label>
    </label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="vermelha" class="input-verm" clickable [checked]="checks" />
      <label class="p1">⠀Vermelha⠀⠀|</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="amarela" class="input-amar" clickable />
      <label class="p1">⠀Amarela⠀⠀|</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="verde" class="input-verd" clickable />
      <label class="p1">⠀Verde⠀⠀|</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="azul" class="input-azu" clickable />
      <label class="p1">⠀Azul</label>
    </clr-radio-wrapper>
  </clr-radio-container>

  <br>
  <button class="btn btn-primary" [disabled]="disabled">Salvar</button>
</section>
