<clr-alert [clrAlertType]="'warning'">
  <clr-alert-item>
    <span class="alert-text">
      Não possui CBO habilitado para esse procedimento, por favor, contactar o
      administrador da unidade!!
    </span>
  </clr-alert-item>
</clr-alert>
<br>
<!-- CLASSIFICAÇÃO DE RISCO -->
<form clrForm>
  <label class="font-form">Classificação de Risco</label>
  <hr />
  <clr-input-container>
    <label class="p3">Cadastro Nacional de Saúde (CNS):</label>
    <input clrInput type="number" name="example" placeholder="(CNS)" />
  </clr-input-container>
  <label></label>

  <clr-input-container>
    <label class="p3">Cadastro de Pessoa Física (CPF):</label>
    <input clrInput type="number" name="example" placeholder="CPF" />
  </clr-input-container>
  <label></label>

  <clr-input-container>
    <label class="p3">Nome ou Nome Social:*</label>
    <input clrInput type="text" size="60" name="example" placeholder="Nome ou Nome Social" />
  </clr-input-container>
  <!-- Colocar no lugar -->
  <clr-checkbox-container clrInline>
    <clr-checkbox-wrapper class="social-name">
      <input type="checkbox" clrCheckbox name="options1" required value="option1" />
      <label>Não identificado</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <!-- -->

  <label></label>
  <clr-checkbox-container clrInline>
    <label class="p3">Atendimento</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options1" value="option1" (click)="mostraEmergencia()"
        (change)="emergenciaSelect($event)" />
      <label><span class="color_emergencia">Emergência</span></label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="servico-social" value="option1" (click)="mostraEmergencia()">
      <label>Serviço Social</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <label></label>
  <clr-checkbox-container clrInline>
    <label class=" p3">Especialidade para Atendimento *</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options1" value="option1" />
      <label>Clínica Médica</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options2" value="option2" />
      <label>Pediatra</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options3" value="option3" />
      <label>Odontologia</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="options4" value="option4" />
      <label>Ortopedia</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <br>
  <hr />
</form>
<br>


<!-- -->

<form clrForm>
  <clr-select-container>
    <label class="p3">Causa Extrena:* </label>
    <select clrSelect name="CausaExtrema" (ngModel)="causaExtrema">
      <option></option>
      <!---->
      <option *ngFor="let causaExtrema of CausaExtrema" (ngValue)="causaExtrema">{{ causaExtrema }}</option>
    </select>
  </clr-select-container>
</form>
<!-- -->

<form clrForm>
  <clr-textarea-container>
    <label class="p3">Queixa *</label>
    <textarea clrTextarea name="description" rows="5" style="width: 74%" placeholder="Queixa"></textarea>
  </clr-textarea-container>
</form>

<form clrForm *ngIf="emergencia">
  <clr-checkbox-container clrInline>
    <label class="p3">Sintomas de sídrome gripal?</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="s-gripal" value="s-gripal" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="s-gripal-n" value="s-gripal-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <clr-checkbox-container clrInline>
    <label class="p3">Sultura?</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="sultura" value="sultura" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="sultura-n" value="sultura-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <clr-checkbox-container clrInline>
    <label class="p3">Doenças Preexistentes:*</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="cancer" value="cancer" />
      <label>Cancer</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="diabetes" value="diabetes" />
      <label>Diabetes</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="doencasrenaiscronicas" value="doencasrenaiscronicas" />
      <label>Doenças Renais Crônicas</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <clr-checkbox-container clrInline>
    <label></label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="doencasrenaiscronicas" value="doencasrenaiscronicas" />
      <label>Doenças Renais Crônicas</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="doencasrespcronicas" value="doencasrespcronicas" />
      <label>Doenças Respiratórias Crônicas</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="hipertensao" value="hipertensao" />
      <label>Hipertensão</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input (click)="outras()" type="checkbox" clrCheckbox name="outros" value="outros" />
      <label>Outras Doenças</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-textarea-container>
    <label></label>
    <textarea *ngIf="outrasDoencas" clrTextarea name="description" rows="5" style="width: 74%"
      placeholder="Outras Doenças"></textarea>
  </clr-textarea-container>
</form>

<form clrForm *ngIf="emergencia">
  <clr-checkbox-container clrInline>
    <label class="p3">Medicamento em uso?*</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="med-sim" value="med-sim" (click)="medicamentoEmUso()" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="med-n" value="med-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-textarea-container *ngIf="medUso">
    <label></label>
    <textarea clrTextarea name="description" rows="5" style="width: 74%" placeholder="Medicamento em uso?"></textarea>
  </clr-textarea-container>

  <clr-checkbox-container clrInline>
    <label class="p3">Alergia a algum Medicamento?*</label>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="alergia-sim" value="alergia-sim" (click)="medAlergia()" />
      <label>Sim</label>
    </clr-checkbox-wrapper>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="alergia-n" value="alergia-n" />
      <label>Não</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <clr-textarea-container>
    <label></label>
    <textarea *ngIf="alergia" clrTextarea name="description" rows="5" style="width: 74%"
      placeholder="Alergia a algum Medicamento?"></textarea>
  </clr-textarea-container><br />
</form>



<form clrForm *ngIf="emergencia">
  <label></label>
  <clr-checkbox-container clrInline>
    <label class="font-form p3">Escala de Glasgow:</label>
  </clr-checkbox-container>
  <hr />
  <clr-select-container>
    <label class="p3">Abertura ocular:*</label>
    <select clrSelect name="AberturaOcular" (ngModel)="AberturaOcular">
      <option></option>
      <option value="1" class="ng-star-inserted" *ngFor="let AberturaOcular of aberturaOcular"
        (ngValue)="AberturaOcular">{{ AberturaOcular }}</option>
    </select>
  </clr-select-container>

  <clr-select-container>
    <label class="p3">Resposta verbal:*</label>
    <select clrSelect name="RespostaVerbal" (ngModel)="RespostaVerbal">
      <option>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</option>
      <option value="1" class="ng-star-inserted" *ngFor="let RespostaVerbal of respostaVerbal"
        (ngValue)="RespostaVerbal">{{
        RespostaVerbal }}</option>
    </select>

  </clr-select-container>
  <clr-select-container>
    <label class="p3">Resposta motora:*</label>
    <select clrSelect name="RespostaMotora" (ngModel)="RespostaMotora">
      <option>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</option>
      <option value="1" class="ng-star-inserted" *ngFor="let RespostaMotora of respostaMotora"
        (ngValue)="RespostaMotora">{{
        RespostaMotora }}</option>
    </select>
  </clr-select-container>
</form>

<br>

<section class="escala-glasgow">
  <label></label>
  <label class="p2">Escala de Coma Glasgow: /15</label>
</section>
<form>
  <section class="form-block p1" *ngIf="emergencia">
    <label class="p2">Sinais Vitais:</label>
    <hr>
    <br>
    <div class="form-group">
      <label></label>
      <label class="p1" for="peso_aproximado">Temperatura*</label>
      <input mask="0*,000" type="text" placeholder="°C" id="peso_aproximado" size="8"
        formControlName="peso_aproximado" />
      <span>
        <small>°C</small>
      </span>
      <label for="pressao_art" class="p1">Pressão Arterial*</label>
      <input mask="000/000" dropSpecialCharacters="false" type="text" placeholder="mmHg" id="pressao_art" size="6"
        formControlName="pressao_art" />
      <span>
        <small>mmHg</small>
      </span>
      <label for="pulso" class="p1">Pulso*</label>
      <input mask="000" type="text" placeholder="bmp" id="pulso" size="3" formControlName="pulso" />
      <span>
        <small>bpm</small>
      </span>
      <label for="sato" class="p1">SpO²*</label>
      <input mask="000" type="text" placeholder="%" id="sato" size="3" formControlName="sato" />
      <span>
        <small>%</small>
      </span>
    </div>

    <!--    -->
    <div class="form-group">
      <label></label>
      <label for="sato" class="p1">SAT O²*</label>
      <input mask="000" type="text" placeholder="%" id="sato" size="3" formControlName="sato" />
      <span>
        <small>SPO²</small>
      </span>
      <label for="frequencia_respiratoria" class="p1">Frequência Respiratória*</label>
      <input autocomplete="off" mask="00" type="text" placeholder="rpm" id="frequencia_respiratoria" size="2"
        formControlName="frequencia_respiratoria" />
      <span>
        <small>rpm</small>
      </span>
      <label for="nivel_consciencia" class="p1">Nível de Consciência*</label>
      <div class="select">
        <select id="nivel_consciencia" formControlName="nivel_consciencia" name="NivelConciencia"
          (ngModel)="NivelConciencia">
          <option></option>
          <option *ngFor="let NivelConciencia of nivelConciencia" (ngValue)="NivelConciencia">{{ NivelConciencia }}
          </option>
        </select>
      </div>
      <label for="frequencia_respiratoria" class="p1">Oligúria(≥0,5ml/kg/h)*</label>

      <clr-checkbox-wrapper clrInline>
        <input type="checkbox" clrCheckbox name="options1" value="option1" />
        <label>Sim &nbsp; &nbsp;</label>
      </clr-checkbox-wrapper>
      <clr-checkbox-wrapper clrInline>
        <input type="checkbox" clrCheckbox name="options1" value="option1" />
        <label>Não</label>
      </clr-checkbox-wrapper>
    </div>
  </section>

  <section class="form-block p1" formGroupName="Avaliacao" *ngIf="emergencia">
    <div class="form-group">
      <label class="p1">Outros Dados:</label>

      <label class="p1" for="peso_aproximado">HGT</label>
      <input type="text" placeholder="mg/dl" id="peso_aproximado" size="8" formControlName="peso_aproximado" />
      <span>
        <small>mg/dl</small>
      </span>
      <label class="p1" for="peso_aproximado">Peso</label>
      <input type="text" placeholder="Kg" id="peso_aproximado" size="8" formControlName="peso_aproximado" />
      <span>
        <small>Kg</small>
      </span>
    </div>
  </section>
  <section class="form-block" *ngIf="emergencia">
    <div class="form-group">
      <label></label>
      <span class="label label-danger p1">
        Risco Alto de Sepse -
        <span class="badge p1">Valor: 9</span>
      </span>
    </div>
  </section>
</form>

<br>

<form class="clr-control-inline" style="margin: 2px 1em 0 276px" *ngIf="emergencia">
  <label></label>
  <label><b>Suspeita de SEPSE?&nbsp;&nbsp;</b></label>
  <div class="clr-control-inline">
    <div class="clr-checkbox-wrapper">
      <input type="checkbox" id="sepseconfirmado-s" name="sepseconfirmado-s" value="sepseconfirmado-s"
        class="clr-checkbox" />
      <label for="sepseconfirmado-s" class="clr-control-label">Sim</label>
    </div>
    <div class="clr-checkbox-wrapper">
      <input type="checkbox" id="sepseconfirmado-n" name="sepseconfirmado-n" value="sepseconfirmado-n"
        class="clr-checkbox" />
      <label for="sepseconfirmado-n" class="clr-control-label">Não</label>
    </div>
  </div>
</form>
<br><br>
<section>
  <label>Outras Informações:</label>
  <hr _ngcontent-c19="" />
  <form clrForm>
    <clr-textarea-container>
      <label></label>
      <textarea clrTextarea name="description" rows="5" style="width: 74%" placeholder="Outras Informações"></textarea>
    </clr-textarea-container>
  </form>

  <br /><br />

  <label>Classificação de Risco</label>
  <hr>
  <clr-radio-container clrInline="horizontal">
    <label>
    </label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="vermelha" class="input-verm" clickable [checked]="checks" />
      <label class="p1">⠀Vermelha⠀⠀|</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="amarela" class="input-amar" clickable />
      <label class="p1">⠀Amarela⠀⠀|</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="verde" class="input-verd" clickable />
      <label class="p1">⠀Verde⠀⠀|</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="azul" class="input-azu" clickable />
      <label class="p1">⠀Azul</label>
    </clr-radio-wrapper>
  </clr-radio-container>

  <br>
  <button class="btn btn-primary" disabled>Salvar</button>
</section>
