<!-- <app-cabecalho-verde></app-cabecalho-verde> -->

<form novalidate>
  <section>
    <fieldset>
      <label for="descricao">
        <b>Reavaliação</b>
      </label>
      <hr>

      <div class="form-group">
        <div>
          <textarea formControlName="descricao" id="descricao" rows="5" cols="106"></textarea>
        </div>
        <div style="margin: 10px">
          <button type="submit" class="btn btn-default" disabled>Adicionar</button>
        </div>
      </div>
    </fieldset>

    <form>
      <section class="form-block">
        <b _ngcontent-c19="">Sinais Vitais</b>
        <hr>
        <section class="form-block" formGroupName="Avaliacao">
          <div class="form-group"><label></label>
            <label class="p1" for="peso_aproximado">Temperatura</label>
            <input mask="0*,000" type="text" placeholder="°C" id="peso_aproximado" size="8"
              formControlName="peso_aproximado">
            <span>
              <small>°C</small>
            </span>
            <label for="pressao_art" class="p1">Pressão Arterial</label>
            <input mask="000/000" dropSpecialCharacters="false" type="text" placeholder="mmHg" id="pressao_art" size="6"
              formControlName="pressao_art">
            <span>
              <small>mmHg</small>
            </span>
            <label for="pulso" class="p1">Pulso</label>
            <input mask="000" type="text" placeholder="bmp" id="pulso" size="3" formControlName="pulso">
            <span>
              <small>bpm</small>
            </span>
            <label for="sato" class="p1">SpO²</label>
            <input mask="000" type="text" placeholder="%" id="sato" size="3" formControlName="sato">
            <span>
              <small>%</small>
            </span>
          </div>
          <div class="form-group"><label></label>
            <label for="sato" class="p1">SAT O²</label>
            <input mask="000" type="text" placeholder="%" id="sato" size="3" formControlName="sato">
            <span>
              <small>SPO²</small>
            </span>
            <label for="frequencia_respiratoria" class="p1">Frequência Respiratória</label>
            <input autocomplete="off" mask="00" type="text" placeholder="FR" id="frequencia_respiratoria" size="2"
              formControlName="frequencia_respiratoria">
            <span>
              <small>rpm</small>
            </span>
            <label for="nivel_consciencia" class="p1">Nível de Consciência</label>
            <div class="select">
              <select id="nivel_consciencia" formControlName="nivel_consciencia">
                <option></option>
                <option>Alerta</option>
                <option>Resposta verbal</option>
                <option>Dor</option>
                <option>Não responsivel</option>
                <option>Confuso</option>
              </select>
            </div>
            <label for="frequencia_respiratoria" class="p1">Oligúria(≥0,5ml/kg/h)</label>


            <clr-checkbox-wrapper clrInline>
              <input type="checkbox" clrCheckbox name="options1" required value="option1" />
              <label>Sim &nbsp; &nbsp;</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper clrInline>
              <input type="checkbox" clrCheckbox name="options1" required value="option1" />
              <label>Não</label>
            </clr-checkbox-wrapper>
          </div>
        </section>

        <section>
          <b _ngcontent-c19="">Anamnese</b>
          <hr>
          <form clrForm clrLayout="vertical">
            <div class="form-group">
              <label style="font-size: 12px" class="required">História da Doença Atual</label>
            </div>
            <div class="form-group">
              <textarea id="formFields_8" cols="110" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label style="font-size: 12px" class="required">Exame Físico</label>
            </div>
            <div class="form-group">
              <textarea id="formFields_8" cols="110" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label style="font-size: 12px" class="required">Hipótese do Diagnóstico</label>
            </div>
            <div class="form-group">
              <textarea id="formFields_8" cols="110" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label style="font-size: 12px" class="required">Conduta Médica</label>
            </div>
            <div class="form-group">
              <textarea id="formFields_8" cols="110" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="required p1" style="margin-top: 30px;">CID 1</label>
              <input clrInput name="input" size="85" />
            </div>

            <div class="form-group">
              <label class="required p1" style="margin-top: 30px;">CID 2</label>
              <input clrInput name="input" size="85" />
            </div>

          </form>
        </section>

        <section class="form-block">
          <div class="form-group">
            <label></label>
            <span class="label label-danger">
              Risco Alto de Sepse -
              <span class="badge">Valor: 9</span>
            </span>
          </div>
        </section>
        <button class="btn btn-primary" disabled>Salvar</button>
        <br><br>

        <fieldset>
          <clr-stack-view>
            <clr-stack-block>
              <clr-stack-label>Sexta-Feira - 26/08/2022 15:19:58</clr-stack-label>
              <clr-stack-block>
                <clr-stack-label>Profissional</clr-stack-label>
                <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Descrição</clr-stack-label>
                <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
              </clr-stack-block>
            </clr-stack-block>
          </clr-stack-view>

          <clr-stack-view>
            <clr-stack-block>
              <clr-stack-label>Sexta-Feira - 26/08/2022 15:19:58</clr-stack-label>
              <clr-stack-block>
                <clr-stack-label>Profissional</clr-stack-label>
                <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Descrição</clr-stack-label>
                <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
              </clr-stack-block>

            </clr-stack-block>
          </clr-stack-view>
        </fieldset>
      </section>

    </form>
