<!-- <app-cabecalho-verde></app-cabecalho-verde> -->

<form novalidate>
  <section>
    <fieldset>
      <label for="descricao">
        <b>Reavaliação</b>
      </label>
      <hr>

      <div class="form-group">
        <div>
          <textarea formControlName="descricao" id="descricao" rows="5" cols="106"></textarea>
        </div>
        <div style="margin: 10px">
          <button type="submit" class="btn btn-default" disabled>Adicionar</button>
        </div>
      </div>
    </fieldset>

    <app-sinais-vitais></app-sinais-vitais>

    <section>
      <b _ngcontent-c19="">Anamnese</b>
      <hr>
      <form clrForm clrLayout="vertical">
        <div class="form-group">
          <label style="font-size: 12px" class="required">História da Doença Atual</label>
        </div>
        <div class="form-group">
          <textarea id="formFields_8" cols="110" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label style="font-size: 12px" class="required">Exame Físico</label>
        </div>
        <div class="form-group">
          <textarea id="formFields_8" cols="110" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label style="font-size: 12px" class="required">Hipótese do Diagnóstico</label>
        </div>
        <div class="form-group">
          <textarea id="formFields_8" cols="110" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label style="font-size: 12px" class="required">Conduta Médica</label>
        </div>
        <div class="form-group">
          <textarea id="formFields_8" cols="110" rows="5"></textarea>
        </div>

        <div class="form-group">
          <label class="required p1" style="margin-top: 30px;">CID 1</label>
          <input clrInput name="input" size="85" />
        </div>

        <div class="form-group">
          <label class="required p1" style="margin-top: 30px;">CID 2</label>
          <input clrInput name="input" size="85" />
        </div>

      </form>
    </section>

    <section class="form-block">
      <div class="form-group">
        <label></label>
        <span class="label label-danger">
          Risco Alto de Sepse -
          <span class="badge">Valor: 9</span>
        </span>
      </div>
    </section>
    <button class="btn btn-primary" disabled>Salvar</button>
    <br><br>

    <fieldset>
      <clr-stack-view>
        <clr-stack-block>
          <clr-stack-label>Sexta-Feira - 26/08/2022 15:19:58</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>Profissional</clr-stack-label>
            <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>Descrição</clr-stack-label>
            <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>
      </clr-stack-view>

      <clr-stack-view>
        <clr-stack-block>
          <clr-stack-label>Sexta-Feira - 26/08/2022 15:19:58</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label>Profissional</clr-stack-label>
            <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>Descrição</clr-stack-label>
            <clr-stack-content>ILDENÊ RODRIGUES MORAES</clr-stack-content>
          </clr-stack-block>

        </clr-stack-block>
      </clr-stack-view>
    </fieldset>
  </section>

</form>
