<div>
  <div stick="" class="card sticky">
    <div stick="" class="card-block ">
      <div stick="" class="row">
        <div stick="" class="col-sm-8 centralizar-nome ng-star-inserted">
          <span stick="" class="nome-paciente">
            JESSICA COSTA MENDES
          </span>
        </div>
        <div stick="" class="col-sm-2 ng-star-inserted">
          <div stick="" class="alert alert-app-level cor-retorno" style="margin:0px; font-weight:bold">
            <div stick="" class="alert-items">
              <div stick="" class="alert-item static">
                <div stick="" class="alert-text">
                  ALÉRGICO
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div stick="" class="card">

    <div stick="" class="card-block">
      <div stick="" class="row ng-star-inserted">
        <div stick="" class="col-sm-8 ng-star-inserted">
          <b stick="">
            Nome Filiação: </b>
          VANDA MARIA DE SOUSA COSTA
        </div>
        <div stick="" class="col-sm-4 ng-star-inserted">
          <span stick="">
            <b stick="" class="">CNS:</b> 701004804506597</span>
        </div>
      </div>
      <div stick="" class="row">
        <div stick="" class="col-sm-4">
          <b stick="">Protocolo:</b> 0252542254254
        </div>
        <div stick="" class="col-sm-4">
          <b stick="">Situação:</b> Pos-Consulta
        </div>
        <div stick="" class="col-sm-4">
          <b stick="">Data de cadastro:</b>
          10/08/2022
        </div>
      </div>
      <div stick="" class="row ng-star-inserted">
        <div stick="" class="col-sm-4">
          <b stick="">Data de nascimento:</b>
          14/09/1998
        </div>
        <div stick="" class="col-sm-4 ng-star-inserted">
          <b stick="">Idade:</b>
          23 anos

        </div>
        <div stick="" class="col-sm-4">
          <b stick="">Sexo:</b>
          Feminino
        </div>
      </div>
    </div>
  </div>
  <div stick="" class="alert alert-app-level ng-star-inserted"
    style="margin-bottom: 10px; font-weight: bold; background: #02ad57; color: rgb(255, 255, 255);">
    <div stick="" class="alert-items">
      <div stick="" class="alert-item static">
        <div stick="" class="alert-text">
          VERDE
        </div>
      </div>
    </div>
  </div>
</div>
