<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
    <div class="card">

      <h3 class="card-header"><b>RICARDO SÉRGIO ARAÚJO LIMA</b></h3>

      <div class="card-block">
        <h4 class="card-title"></h4>
        <div class="clr-row">
          <div class="clr-col-4">
            <span>
              <b>Nome:</b>
              RICARDO SÉRGIO ARAÚJO LIMA
            </span><br>
            <span>
              <b>Protocolo:</b>
              0252542254254
            </span>
            <br>
            <span>
              <b>Data de Nascimento:</b>
              15/01/1989
            </span>
          </div>
          <div class="clr-col-4">
            <span>
              <b>Situação:</b>
              ...
            </span><br>
            <span>
              <b>Protocolo:</b>
              0252542254254
            </span>
            <br>
            <span>
              <b>Sexo:</b>
              Masculino
            </span>
          </div>
          <div class="clr-col-4">
            <span>
              <b>CNS:</b>
              708000399334823
            </span><br>
            <span>
              <b>Data de cadastro:</b>
              16/12/2021
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer" class="blueBg">
        <div class="classifi child" style="color: #fff; text-align:center"><b>AZUL</b></div>
      </div>
    </div>
  </div>
</div>
