<div>
  <div _ngcontent-c20="" class="card sticky">
    <div _ngcontent-c20="" class="card-block ">
      <div _ngcontent-c20="" class="row">
        <div _ngcontent-c20="" class="col-sm-8 centralizar-nome ng-star-inserted">
          <span _ngcontent-c20="" class="nome-paciente">
            RICARDO SÉRGIO ARAÚJO LIMA
          </span>
        </div>
        <div _ngcontent-c20="" class="col-sm-2 ng-star-inserted">
          <div _ngcontent-c20="" class="alert alert-app-level cor-retorno" style="margin:0px; font-weight:bold">
            <div _ngcontent-c20="" class="alert-items">
              <div _ngcontent-c20="" class="alert-item static">
                <div _ngcontent-c20="" class="alert-text">
                  PACIENTE EM RETORNO
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-c20="" class="card">

    <div _ngcontent-c20="" class="card-block">
      <div _ngcontent-c20="" class="row ng-star-inserted">
        <div _ngcontent-c20="" class="col-sm-8 ng-star-inserted">
          <b _ngcontent-c20="">
            Nome Filiação: </b>
          VANDA MARIA DE SOUSA COSTA
        </div>
        <div _ngcontent-c20="" class="col-sm-4 ng-star-inserted">
          <span _ngcontent-c20="">
            <b _ngcontent-c20="" class="">CNS:</b> 701004804506597</span>
        </div>
      </div>
      <div _ngcontent-c20="" class="row">
        <div _ngcontent-c20="" class="col-sm-4">
          <b _ngcontent-c20="">Protocolo:</b> 0252542254254
        </div>
        <div _ngcontent-c20="" class="col-sm-4">
          <b _ngcontent-c20="">Situação:</b> Pos-Consulta
        </div>
        <div _ngcontent-c20="" class="col-sm-4">
          <b _ngcontent-c20="">Data de cadastro:</b>
          10/08/2022
        </div>
      </div>
      <div _ngcontent-c20="" class="row ng-star-inserted">
        <div _ngcontent-c20="" class="col-sm-4">
          <b _ngcontent-c20="">Data de nascimento:</b>
          14/09/1998
        </div>
        <div _ngcontent-c20="" class="col-sm-4 ng-star-inserted">
          <b _ngcontent-c20="">Idade:</b>
          23 anos

        </div>
        <div _ngcontent-c20="" class="col-sm-4">
          <b _ngcontent-c20="">Sexo:</b>
          Feminino
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-c20="" class="alert alert-app-level ng-star-inserted"
    style="margin-bottom: 10px; font-weight: bold; background: #007cbb; color: rgb(255, 255, 255);">
    <div _ngcontent-c20="" class="alert-items">
      <div _ngcontent-c20="" class="alert-item static">
        <div _ngcontent-c20="" class="alert-text">
          AZUL
        </div>
      </div>
    </div>
  </div>
</div>
