<section>
  <b class="p3-font">Serviço Social</b>
  <hr>
  <form clrForm clrLayout="vertical">
    <div class="form-group">
      <label style="font-size: 12px" class="required">Histórico Social:</label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label style="font-size: 12px" class="required">Intervenção Social: </label>
    </div>
    <div class="form-group">
      <label></label>
      <textarea id="formFields_8" cols="110" rows="5"></textarea>
    </div>
  </form>
  <button class="btn btn-primary" disabled>Adicionar</button>
</section>
<br><br>
