<div _ngcontent-c19="" class="form-group">
  <label _ngcontent-c19="" class="required" for="causa_externa">Causa Externa</label>
  <div _ngcontent-c19="" class="select ng-pristine ng-valid ng-touched" formgroupname="causa_externa">
    <label _ngcontent-c19="" aria-haspopup="true" class="tooltip tooltip-validation tooltip-md" for="causa_externa"
      role="tooltip">
      <select clrSelect _ngcontent-c19="" class="combobox ng-pristine ng-valid ng-touched" formcontrolname="id"
        id="causaExterna">
        <option _ngcontent-c19=""></option>
        <option class="ng-star-inserted">
          Acidente de Trabalho</option>
        <option class="ng-star-inserted">
          Acidente de transporte por água</option>
        <option class="ng-star-inserted">
          Acidente de Transporte Terrestre</option>
        <option class="ng-star-inserted">
          Acidentes de transporte aéreo e espacial</option>
        <option class="ng-star-inserted">
          Afogamento</option>
        <option class="ng-star-inserted">
          Agressão física</option>
        <option class="ng-star-inserted">
          Asfixia</option>
        <option class="ng-star-inserted">
          Atropelamento</option>
        <option class="ng-star-inserted">
          Choque eletrico</option>
        <option class="ng-star-inserted">
          Contato com animais e plantas venenosos</option>
        <option class="ng-star-inserted">
          Envenenamento [intoxicação] acidental por e exposição à substâncias nocivas</option>
        <option class="ng-star-inserted">
          Esmagamento</option>
        <option class="ng-star-inserted">
          Exposição à fumaça, ao fogo e às chamas</option>
        <option class="ng-star-inserted">
          Exposição às forças da natureza</option>
        <option class="ng-star-inserted">
          Hipotermia</option>
        <option class="ng-star-inserted">
          Intoxicação exógena</option>
        <option class="ng-star-inserted">
          Intoxicação ou outra lesão/trauma de característica intencial</option>
        <option class="ng-star-inserted">
          Lesão autoprovocada</option>
        <option class="ng-star-inserted">Maus
          tratos</option>
        <option class="ng-star-inserted">
          Mordeduras de animais</option>
        <option class="ng-star-inserted">Não
          se aplica</option>
        <option class="ng-star-inserted">
          Outros acidentes de transporte e os não especificados</option>
        <option class="ng-star-inserted">
          Queda</option>
        <option class="ng-star-inserted">
          Violencia sexual</option>
      </select>
    </label>
  </div>
</div>
