.logo-group[_ngcontent-c11] {
  margin: 0 -50% 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45%;
}

div[_ngcontent-c11]>div[_ngcontent-c11]>span[_ngcontent-c11]>img[_ngcontent-c11] {
  width: 83%;
}

img {
  border-style: none;
  vertical-align: middle;
}
