<main _ngcontent-c4="" class="content-area">
  <!---->
  <div _ngcontent-c4="" class="ng-star-inserted">
    <!---->
  </div>
  <router-outlet _ngcontent-c4=""></router-outlet>
  <div _nghost-c11="" class="ng-star-inserted">



    <div _ngcontent-c11="" class="row flex-items-xs-center logo-group">
      <div _ngcontent-c11="" class="col-xs-6">
        <span _ngcontent-c11="" class="clr-example-col-value">
          <img _ngcontent-c11="" alt="upa" src="https://upa-qa.saude.ma.gov.br/assets/img/sisupa_azul.png">
          <img _ngcontent-c11="" alt="maranhao" class="first"
            src="https://upa-qa.saude.ma.gov.br/assets/img/bandeira-horizontal.png">
        </span>
      </div>
    </div>

  </div>
</main>
