<app-cabecalho-detalhe-medico></app-cabecalho-detalhe-medico>
<ul id="demoTabs" class="nav" role="tablist">
  <li class="nav-item">
    <button id="tab1" class="btn btn-link nav-link active" aria-controls="panel1" aria-selected="true"
      type="button">Prontuário</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2" aria-selected="false"
      type="button">Prescrição</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3" aria-selected="false"
      type="button">Apoio Diagnóstico</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3" aria-selected="false"
      type="button">Procedimento</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3" aria-selected="false"
      type="button">Receituário</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3" aria-selected="false" type="button">Atestado</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3" aria-selected="false"
      type="button">Trasnferência Interna</button>
  </li>
</ul>
<section id="panel1" role="tabpanel">
  <app-prontuario-medico></app-prontuario-medico>
</section>
<section id="panel2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true">
</section>
<section id="panel3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true">
</section>
