<!--
  ///////////////////////////////////////////////////////////
  Pequena Inclusão:
    Campo Tipo Adicionado com informações de classificação
    ↳ <span class="tipo-M">M</span> &nbsp;
    ↳ <span class="tipo-E">E</span> &nbsp;
    ↳ <span class="tipo-A">A</span>
  ///////////////////////////////////////////////////////////
-->


<h4 _ngcontent-c12="">
  Pacientes aguardando exame
</h4>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'nome'">Protocolo</clr-dg-column>
  <clr-dg-column [clrDgField]="'nome-paciente'">Nome do Paciente</clr-dg-column>
  <clr-dg-column [clrDgField]="'especialidade'">Especialidade</clr-dg-column>
  <clr-dg-column [clrDgField]="'class-risco'">Classi. Risco</clr-dg-column>
  <clr-dg-column [clrDgField]="'tipo'">Tipo</clr-dg-column>
  <clr-dg-column [clrDgField]="'tempo'">Tempo</clr-dg-column>
  <clr-dg-column>Ações</clr-dg-column>

  <clr-dg-row>
    <clr-dg-cell>402208150003</clr-dg-cell>
    <clr-dg-cell>ALICIA MANOELE SOUSA DE AQUINO</clr-dg-cell>
    <clr-dg-cell>Clínica Médica</clr-dg-cell>
    <clr-dg-cell><span class="class-risco-amarela">Amarela</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="tipo-M">M</span> &nbsp;
      <span class="tipo-E">E</span> &nbsp;
      <span class="tipo-A">A</span>
    </clr-dg-cell>
    <clr-dg-cell>1h 2min</clr-dg-cell>
    <clr-dg-cell>
      <a aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left" role="tooltip" href="#">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
        <span class="tooltip-content">Visualizar</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row>
    <clr-dg-cell>402208150001</clr-dg-cell>
    <clr-dg-cell>RICARDO SÉRGIO ARAÚJO LIMA</clr-dg-cell>
    <clr-dg-cell>Clínica Médica</clr-dg-cell>
    <clr-dg-cell><span class="class-risco-azul">Azul</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="tipo-A">A</span> &nbsp;
      <span class="tipo-M">M</span>
    </clr-dg-cell>
    <clr-dg-cell>2d 3h 4min</clr-dg-cell>
    <clr-dg-cell>
      <a aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left" role="tooltip" href="#">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
        <span class="tooltip-content">Visualizar</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row>
    <clr-dg-cell>402208150002</clr-dg-cell>
    <clr-dg-cell>JÉSSICA COSTA MENDES</clr-dg-cell>
    <clr-dg-cell>Clínica Médica</clr-dg-cell>
    <clr-dg-cell><span class="class-risco-verde">Verde</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="tipo-E">E</span> &nbsp;

    </clr-dg-cell>
    <clr-dg-cell>9d 8h 7min</clr-dg-cell>
    <clr-dg-cell>
      <a aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left" role="tooltip" href="#">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
        <span class="tooltip-content">Visualizar</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row>
    <clr-dg-cell>402208152896</clr-dg-cell>
    <clr-dg-cell>JOYCE PROTAZIO DA SILVA</clr-dg-cell>
    <clr-dg-cell>Clínica Médica</clr-dg-cell>
    <clr-dg-cell><span class="class-risco-azul">Azul</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="tipo-A">A</span> &nbsp;

    </clr-dg-cell>
    <clr-dg-cell>12d 2h 30min</clr-dg-cell>
    <clr-dg-cell>
      <a aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left" role="tooltip" href="#">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
        <span class="tooltip-content">Visualizar</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row>
    <clr-dg-cell>402208150222</clr-dg-cell>
    <clr-dg-cell>RENATO PEREIRA DA SILVA NOGUEIRA</clr-dg-cell>
    <clr-dg-cell>Clínica Médica</clr-dg-cell>
    <clr-dg-cell><span class="class-risco-vermelha">Vermelha</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="tipo-E">E</span> &nbsp;
      <span class="tipo-M">M</span> &nbsp;

    </clr-dg-cell>
    <clr-dg-cell>1d 2h 2min</clr-dg-cell>
    <clr-dg-cell>
      <a aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left" role="tooltip" href="#">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
        <span class="tooltip-content">Visualizar</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row>
    <clr-dg-cell>402208125783</clr-dg-cell>
    <clr-dg-cell>MAURO SERGIO SANTOS SILVA</clr-dg-cell>
    <clr-dg-cell>Clínica Médica</clr-dg-cell>
    <clr-dg-cell><span class="class-risco-amarela">Amarela</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="tipo-E">E</span> &nbsp;

    </clr-dg-cell>
    <clr-dg-cell>8h 7min</clr-dg-cell>
    <clr-dg-cell>
      <a aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left" role="tooltip" href="#">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
        <span class="tooltip-content">Visualizar</span>
      </a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>1 - 6 de 6 registros</clr-dg-footer>
</clr-datagrid>
