.label {
  display: flex;
  margin-left: 270px;
  width: 150px;
  margin-top: -20px;
}

.button-cns {
  display: flex;
  margin-left: 490px;
  margin-top: -46px;
}

.button-cpf {
  display: flex;
  margin-left: 490px;
  margin-top: -26px;
}

.button-cep {
  display: flex;
  margin-left: 410px;
  margin-top: -26px;
}

.img-correios {
  display: flex;
  margin-left: 500px;
  margin-top: -30px;
  width: 25px;
}

.idade {
  display: flex;
  margin-left: 480px;
  margin-top: -26px;
}

.nacionalidade,
.contato {
  display: flex;
  margin-left: 470px;
  margin-top: -26px;
}

.nacio-label {
  margin-left: -100px;
}

.help {
  display: flex;
  margin-left: 530px;
  margin-top: -30px;
}

.cidades {
  margin-left: -130px;
}

.tipo-contato {
  margin-left: -80px;
}
